<% provide(:title, 'Help') %>
<h1>Help On The Way!</h1>
<p>
  Get help on the ruby and rails tutorial at the
  <a href="http://railstutorial.org/help" target="_blank">Rails Tutorial Help Page</a>
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book" target="_blank">Rails Tutorial Book</a>
</p>
